/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Độ rộng scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Nền trong suốt */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2); /* Màu nhạt */
    border-radius: 10px; /* Bo tròn */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4); /* Hover đậm hơn */
  }
  
  /* Ẩn scrollbar trên mobile */
  @media (max-width: 768px) {
    .custom-scrollbar::-webkit-scrollbar {
      display: none;
    }
  }
  