@import "tailwindcss";

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  box-sizing: border-box;
}

/* 
  className="w-[calc(100%-100px)] h-full bg-[#1E2A3E] rounded-[30px]"
*/

