.queue-container {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border-top-right-radius: 0px;
  background-color: #2b3a67;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #2b3a67 40px
    ),
    repeating-linear-gradient(#1e2a54, #1a2449);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.queue {
  height: 85%;
  flex-direction: column;
  justify-content: flex-start;
  width: 85%;
}

.upNext {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  text-align: left;
  margin-bottom: 15px;
}

.queue-list {
  height: 80%;
  width: 100%;
  overflow-y: auto;
  padding-right: 10px;
  justify-content: space-between;
}

.queue-list::-webkit-scrollbar {
  width: 8px;
}

.queue-list::-webkit-scrollbar-track {
  background: #4767d055;
  border-radius: 10px;
}

.queue-list::-webkit-scrollbar-thumb {
  background: #ffffff55;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.queue-list::-webkit-scrollbar-thumb:hover {
  background: #ffffffaa;
}

.queue-item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
  background-color: rgba(49, 49, 49, 0.5);
  margin-bottom: 8px;
}

.queue-item:hover {
  background-color: rgba(49, 49, 49, 0.7);
  transform: scale(1.01);
}

.queue-item p {
  margin: 0px;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track-name {
  width: 75%;
}

.track-artist {
  font-size: 15px;
  font-weight: 400;
}

.now-playing {
  background-color: #ffcc00 !important;
  color: #000 !important;
  font-weight: bold;
}
