.controls-wrapper {
  width: 50%;
  margin: 0 auto; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px; 
}

  
  .action-btn {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .action-btn:hover {
    transform: scale(1.1);
  }
  
  .play-pause-btn {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    background-color: #2196F3;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 15px rgba(33, 150, 243, 0.7), 
                inset -4px -4px 10px #1565C0, 
                inset 4px 4px 10px 1px #0D47A1;
  }
  
  .play-pause-btn.active {
    background-color: #2196F3; 
    box-shadow: 0px 0px 15px rgba(33, 150, 243, 0.7), 
                inset -4px -4px 10px #1565C0, 
                inset 4px 4px 10px 1px #0D47A1;
    color: Black; 
    border: 2px solid #1565C0; 
  }
  
  .play-pause-btn:hover {
    transform: scale(1.1);
  }